<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Como contactar</title>
    <link rel="stylesheet" href="../css/Estilos2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="../images/Logotipo.jpg" class="logo">Logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="images/Logotipo.jpg" class="menu-icono" alt="Logotipo">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="Productos.html">Productos</a></li>
                    <li><a href="Presupuestos.html">Presupuestos</a></li>
                    <li><a class="cont" href="Contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>  
    <h1>Ubicación de nuestra empresa</h1>
    <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.83988659806!2d-0.2664031343031303!3d51.52873980506645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses!2ses!4v1721395060229!5m2!1ses!2ses" width="1800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!--AQUÍ SE INCLUYE UN LINK EN EL CUAL SE MUESTRA LA ZONA DE UBICACIÓN DE LA EMPRESA-->
    <div class="datos">
        <!--Y AQUÍ LOS DATOS DE CONTACTO-->
        <div class="calle">
            Calle:
            Leicester Square, West End, Londres</div>
        <div class="teléfono">
            Teléfono:
            123 456 789</div>
    </div>

    <footer class="footer container">
        <!--AQUÍ SE HAN INCLUIDO LOS DERECHOS Y REDES SOCIALES DE LA EMPRESA-->
        <div class="footer-text">
            <p>&copy;InfiniteG Entertainment</p>
            <a href="Aviso_legal.html">Aviso legal</a>
            <p>Leicester Square, West End, Londres</p>
            <div class="redes-sociales">
                <a href="https://www.youtube.com/channel/UCMyGSltfE9Ib6Utx5XDVvAw"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://x.com/InfiniteGEntr"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=61562668687480"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>