<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos de InfiniteG</title>
    <link rel="stylesheet" href="../css/Styles2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>
 <body>
    <header class="header">
        <div class="menu container">
            <a href="../images/Logotipo.jpg" class="logo">Logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="images/Logotipo.jpg" class="menu-icono" alt="Logotipo">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a class="prods" href="Productos.html">Productos</a></li>
                    <li><a href="Presupuestos.html">Presupuestos</a></li>
                    <li><a href="Contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
      </header> 
    <!--EN ESTE BODY SE INCLUYE LOS PRODUCTOS QUE SE VENDEN Y SUS DESCRIPCIONES-->
    <div class="swiper">
        <div class="swiper-content">
            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <!--ESTOS ÍCONOS PARA DECORAR GRACIAS AL SEGUNDO LINK-->
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 53,99€</span>
                        <h3>Mandos</h3>
                        <p>Sony PS4 DualShock 4 V2, Xbox, Nintendo, Inalámbricos, Paneles táctiles, Colores, Botones, Gatillos.</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/Mando-PS4.jpg" alt="" width="400">
                        <!--INTRODUCIMOS IMAGEN DEL PRODUCTO-->
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                    <!--E INTRODUCIMOS UN BOTÓN PARA "COMPRAR"-->
                </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 39,99€</span>
                        <h3>Auriculares gaming</h3>
                        <p>Steel Series Arctis Nova Pro Wireless, Hollyland, Solidcom, Amplificadores, Multisistemas, Colores</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/Cascos.jpg" alt="" width="400">
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 129,99€</span>
                        <h3>Tarjetas gráficas</h3>
                        <p>PNY TCSP40M-24GB-PB, PCI Express 3.0 x16, ZOTAC ZT-D40810B-10P, GDDR6X, PCI-Express x4</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/Tarjeta-gráfica.jpg" alt="" width="400">
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 45,99€</span>
                        <h3>Teclados</h3>
                        <p>USB-C, Retroiluminación Chroma RGB, Lightsync, Lightspeed, Bluetooth, Colores</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/Teclado.jpg" alt="" width="400">
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 199,99€</span>
                        <h3>Monitores</h3>
                        <p>OLED, 0.03 ms, 240 Hz, WiFi, Bluetooth, Vidrio nanotexturizado, Adaptador de montaje, Colores</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/Monitor.jpg" alt="" width="400">
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 19,99€</span>
                        <h3>Altavoces</h3>
                        <p>Sonido 360°, 81/91 dBC, Certificación IP67, Emparejable, PartyUp, 20hs batería, Colores</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/Altavoz.jpg" alt="" width="400">
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 39,99€</span>
                        <h3>Sillas</h3>
                        <p>Reclinable, Cojines, Pistón clase 4, Espuma moldeada en frío, Escritorio, Oficina, Reposabrazos2D, Colores</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/Silla.jpg" alt="" width="400">
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 5,99€</span>
                        <h3>Ratones</h3>
                        <p>Lightspeed, Inalámbrico-USB, 32.0000 ppp, PC-Mac, Botones personalizables, Interruptores híbridos, Colores</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/Ratón.jpg" alt="" width="400">
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="icons">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-regular fa-heart"></i>
                </div>
                <div class="product-content">
                    <div class="product-text">
                        <span>Desde 499,99€</span>
                        <h3>Realidad virtual</h3>
                        <p>128 GB, Realidad mixta revolucionaria, Potente rendimiento, Pack accesorios, Colores</p>
                    </div>
                    <div class="product-image">
                        <img src="../images/VR.jpg" alt="" width="400">
                    </div>
                    <a href="#" class="btn-3">Comprar</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer container">
        <!--AQUÍ SE HAN INCLUIDO LOS DERECHOS Y REDES SOCIALES DE LA EMPRESA-->
        <div class="footer-text">
            <p>&copy;InfiniteG Entertainment</p>
            <a href="Aviso_legal.html">Aviso legal</a>
            <p>Leicester Square, West End, Londres</p>
            <div class="redes-sociales">
                <a href="https://www.youtube.com/channel/UCMyGSltfE9Ib6Utx5XDVvAw"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://x.com/InfiniteGEntr"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=61562668687480"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </footer>
 </body>
</html>